# MongoDB
MONGODB_USERNAME=krish
MONGODB_PASSWORD=
MONGODB_URL=172.26.1.151:27017

# Google OAuth
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
NEXTAUTH_SECRET=generate-a-random-secret-here
NEXTAUTH_URL=http://localhost:3000

# App
APP_BASE_URL=https://app.certihomes.com
SESSION_SECRET=generate-a-random-secret-here

# Services
PODCASTFY_URL=https://podcastfy.certihomes.com
CLAUDE_PROXY_URL=http://localhost:8080

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000
